{% extends 'base.html.twig' %}

{% block title 'Module Achat' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1>Achter vos biens</h1>
        </div>
    </div>
{% endblock body %}
